---
import { getCollection } from "astro:content";
import ToolCard from "../../components/ToolCard.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import SearchWidget from "../../components/SearchWidget.astro";

const allPlugins = await getCollection("plugins");
---

<BaseLayout
  title="All Framer Plugins"
  description="All the best Framer plugins you need to supercharge your website."
>
  <section class="w-full flex gap-4">
    <div class="flex flex-col md:basis-2/3 gap-4">
      <h1>All Framer plugins</h1>
      <p class="text-lg">
        All the best Framer plugins you need to enhanced your website - from SEO
        to CMS management and design.
      </p>
    </div>
  </section>
  <SearchWidget />
  <section>
    <div class="grid grid-col-1 sm:grid-cols-2 md:grid-cols-3 gap-6 pt-4">
      {allPlugins.map((plugin) => <ToolCard plugins={plugin} />)}
    </div>
  </section>
</BaseLayout>
