---
import { getCollection } from "astro:content";
import PostCard from "../../components/PostCard.astro";
import TwoColumnsLayout from "../../layouts/TwoColumnsLayout.astro";

const allPosts = await getCollection("posts");
const sortedPosts = allPosts.sort(
  (a, b) =>
    new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime(),
);
---

<TwoColumnsLayout
  title="Framer Plugin Tips & Guides (2026)"
  description="Stay updated with the latest Framer plugin guides, comparisons, and tips. Learn how to supercharge your Framer website in 2026."
>
  <section class="w-full flex gap-4">
    <div class="flex flex-col gap-4">
      <h1>Blog</h1>
      <p class="text-lg max-w-xl">
        A collection of useful articles for Framer designers and developers to
        learn about the latest Framer plugins.
      </p>
    </div>
  </section>
  <section class="w-full flex flex-col gap-4 pb-8">
    <div class="flex flex-col gap-6 pt-4">
      {sortedPosts.map((post) => <PostCard posts={post} />)}
    </div>
  </section>
</TwoColumnsLayout>
