@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
      @apply text-4xl;
      @apply text-zinc-950;
      @apply font-semibold;
      @apply leading-snug;
      @apply tracking-tight;
    }
    
    h2 {
      @apply text-2xl;
      @apply text-zinc-950;
      @apply font-semibold;
      @apply mt-6;
    }
    
    @media (max-width: 640px) {
      h2 {
        @apply text-xl;
      }
    }

    h3 {
      @apply text-lg;
      @apply text-zinc-950;
      @apply font-semibold;
    }

    h4 {
      @apply text-base;
      @apply text-zinc-950;
      @apply font-semibold;
    }

    p {
      @apply text-base;
      @apply text-zinc-700;
      @apply leading-relaxed;
      @apply py-2
    }

    li {
      @apply list-disc;
      @apply ml-4;
      @apply text-zinc-700;
      @apply leading-relaxed;
    }

    p > a {
      @apply underline;
      @apply font-bold;
    }

    .blog-content img {
      @apply border border-zinc-200 rounded-md
    }

    .blog-content a {
      @apply underline text-zinc-900;
    }

    .blog-content a:hover {
      @apply underline text-zinc-700;
    }

    .blog-content code {
      @apply bg-zinc-100 text-zinc-900 rounded-md p-1 w-fit;
      @apply font-mono font-medium text-sm;
      @apply border border-zinc-200;
    }

    .blog-content li {
      @apply leading-loose;
    }

    .blog-content pre {
      @apply bg-zinc-100 text-zinc-900 rounded-md p-3 w-full;
      @apply font-mono font-medium text-sm;
      @apply border border-zinc-200;
    }

    .blog-content pre code {
      @apply bg-zinc-100 text-zinc-900 rounded-md p-0 w-full;
      @apply font-mono font-medium text-sm;
      @apply border-none;
    }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}