---
import BaseLayout from "../../layouts/BaseLayout.astro";
import ToolCard from "../../components/ToolCard.astro";
import { getCollection } from "astro:content";

export const prerender = true;

export async function getStaticPaths() {
  const allPlugins = await getCollection("plugins");

  const uniqueCategory = [
    ...new Set(allPlugins.map((category) => category.data.categories).flat()),
  ];

  return uniqueCategory.map((category) => {
    const filteredPlugins = allPlugins.filter((plugin) =>
      plugin.data.categories.includes(category),
    );
    return {
      params: { category },
      props: { plugins: filteredPlugins },
    };
  });
}

const { category } = Astro.params;
const { plugins } = Astro.props;

const categoryCapitalize = category.charAt(0).toUpperCase() + category.slice(1);
const categoryDisplay = category.replace(/-/g, " ");
const categoryCapitalizeDisplay = categoryCapitalize.replace(/-/g, " ");
---

<BaseLayout
  title={`Best ${category.length < 4 ? category.toUpperCase() : categoryCapitalizeDisplay} Plugins for Framer (2026)`}
  description={`Explore the top-rated ${category.length < 4 ? category.toUpperCase() : categoryDisplay} plugins for Framer. Enhance your design and functionality with these curated tools. Updated for 2026.`}
>
  <section id="plugins">
    <div class="flex flex-col md:basis-2/3 gap-4">
      <h1 class="mt-4">
        Best <span class="capitalize"
          >{
            category.length < 4 ? category.toUpperCase() : categoryDisplay
          }</span
        > plugins for Framer designers
      </h1>
      <p class="max-w-2xl text-lg">
        A collection of the best {
          category.length < 4 ? category.toUpperCase() : categoryDisplay
        } plugins. Find the best {
          category.length < 4 ? category.toUpperCase() : categoryDisplay
        } plugins to enhance your Framer site.
      </p>
    </div>
    <div class="grid grid-col-1 sm:grid-cols-2 md:grid-cols-3 gap-6 pt-4">
      {plugins.map((plugin) => <ToolCard plugins={plugin} />)}
    </div>
  </section></BaseLayout
>
