---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import CategoryCard from "../../components/CategoryCard.astro";

const allPlugins = await getCollection("plugins");
const allCategories = [
  ...new Set(allPlugins.map((plugin) => plugin.data.categories).flat()),
];
const alphabeticalCategories = allCategories.sort((a, b) => {
  return a.localeCompare(b);
});
---

<BaseLayout
  title="All Framer Plugins Categories"
  description="Browse all the categories of Framer plugins"
>
  <section class="w-full flex gap-4">
    <div class="flex flex-col md:basis-2/3 gap-4">
      <h1>All Framer Plugins Categories</h1>
      <p class="text-lg">Browse all the categories of Framer plugins.</p>
    </div>
  </section>
  <section>
    <div class="grid grid-col-1 sm:grid-cols-2 md:grid-cols-3 gap-6 pt-4">
      {
        alphabeticalCategories.map((category) => (
          <CategoryCard
            link={category}
            category={category.length < 4 ? category.toUpperCase() : category}
          />
        ))
      }
    </div>
  </section>
</BaseLayout>
