---
import { getCollection } from "astro:content"
import BaseLayout from "../../layouts/BaseLayout.astro"
import CategoryCard from "../../components/CategoryCard.astro"


const allTools = await getCollection("tools")
const allCategories = [...new Set(allTools.map((tool) => tool.data.categories).flat())];
const alphabeticalCategories = allCategories.sort((a, b) => {
  return a.localeCompare(b);
});

let categoryDisplay

---

<BaseLayout
    title="All Categories"
    description="Browse all categories"
>
    <section class="w-full flex gap-4">
        <div class="flex flex-col md:basis-2/3 gap-4">
            <h1>All categories</h1>
            <p class="text-lg">All the categories of tools you need to launch, grow and monetize your newsletter.</p>
        </div>
    </section>
    <section>
        <div class="grid grid-col-1 sm:grid-cols-2 md:grid-cols-3 gap-6 pt-4">
            {alphabeticalCategories.map((category) =>
                (categoryDisplay = (category.charAt(0).toUpperCase() + category.slice(1)).replace(/-/g, ' ')) &&
                <CategoryCard 
                    link={category}
                    category={categoryDisplay}/>
            )}
        </div>
    </section>
</BaseLayout>