---

import TwoColumnsLayout from "../layouts/TwoColumnsLayout.astro";


---

<TwoColumnsLayout
  title="About Frameplugins"
  description="ß"
>
  <section class="w-full flex gap-4">
    <div class="flex flex-col w-full gap-4">
      <h1>About Frameplugins</h1>
      <p class="text-lg">
        Frameplugins is a directory of Framer plugins that will let you supercharge your website.
      </p>
    </div>
  </section>
  <section class="w-full flex gap-4">
    <div class="flex flex-col w-full gap-4">
      <h2>Introducing Frameplugins</h2>
      <p class="text-base">
        Frameplugins is your one-stop destination for the best Framer plugins. We've curated a comprehensive list of plugins designed to supercharge your Framer website, covering everything from animations and SEO to CMS and e-commerce solutions. 
      </p>
      <p class="text-base">
        Whether you're looking to enhance user engagement, streamline your design process, or optimise your site's performance, you'll find the perfect plugin here to take your Framer project to the next level.
      </p>
    </div>
  </section>
  <section class="w-full flex gap-4">
    <div class="flex flex-col w-full gap-4">
      <h2>About the author</h2>
      <p class="text-base">
        I'm a designer and developer who discovered Framer back in 2022. Following the introduction of Framer plugins in October 2024 I decided to launch this directory to help Framer designers to find the right plugins to improve their workflow in Framer.
      </p>
      <p class="text-base">I also run:</p>
      <ul>
        <li><a href="https://frameplate.co" target="_blank" class="text-zinc-900 underline hover:text-zinc-200 hover:no-underline">Frameplate</a> - a directory of templates, resources and blog posts for Framer</li>
        <li><a href="https://frameshare.social" target="_blank" class="text-zinc-900 underline hover:text-zinc-200 hover:no-underline">FrameShare</a> - a social share plugin for Framer websites.</li>
        <li><a href="https://88pixels.co" target="_blank" class="text-zinc-900 underline hover:text-zinc-200 hover:no-underline">88 Pixels</a> - a Framer development agency where I build both websites and templates.</li>
      </ul>
      <p class="text-base">
        <a href="https://x.com/julesvcode" target="_blank" class="text-zinc-900 underline font-normal hover:text-zinc-200 hover:no-underline">Julien</a>
      </p>
    </div>
  </section>
  <section class="w-full flex gap-4">
    <div class="flex flex-col w-full gap-4">
      <h2>Our stack</h2>
      <p class="text-base">
        Here's a list of tools and apps we use to run Frameplugins:
      </p>
      <ul>
        <li>
          <a href="https://framer.com/?via=julesvcode" target="_blank" class="text-zinc-900 underline hover:text-zinc-200 hover:no-underline">Framer</a> - website builder.
        </li>
        <li>
          <a href="https://www.beehiiv.com/?via=88pixels" target="_blank" class="text-zinc-900 underline hover:text-zinc-200 hover:no-underline">Beehiiv</a> - newsletter & email marketing platform.
        </li>
        <li>
          <a href="https://www.make.com/en/register?pc=jlnvr" target="_blank" class="text-zinc-900 underline hover:text-zinc-200 hover:no-underline">Make</a> - automation tool.
        </li>
        <li>
          <a href="https://screen.studio/@0BlLG" target="_blank" class="text-zinc-900 underline hover:text-zinc-200 hover:no-underline">Screen Studio</a> - screen recording tool.
        </li>
        <li>
          <a href="https://airtable.com" target="_blank" class="text-zinc-900 underline hover:text-zinc-200 hover:no-underline">Airtable</a> - CMS and database tool.
        </li>
      </ul>
    </div>
  </section>
</TwoColumnsLayout>

