---
import MyCard from '../components/MyCard.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

---

<BaseLayout title="Welcome to Astro.">
	<main>
		<div class="grid grid-col-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
			<MyCard />
			<MyCard />
			<MyCard />
			<MyCard />
		</div>
		
	</main>
</BaseLayout>


