---

---

<a 
    href="https://on.contra.com/RmW6Dp?ref=frameplugins"
    target="_blank"
    class="relative flex border border-zinc-200 rounded-lg p-1 hover:border-blue-300 transition-colors">
    <div class="flex items-center justify-between w-full rounded bg-zinc-200 text-zinc-950 p-1 hover:bg-zinc-300 transition-colors">
        <div class="flex items-start  md:items-center gap-1 p-1 text-sm">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
            </svg>
            <span>Get <span class="font-bold">30% OFF</span> Contra Pro to get discovered, land clients and earn more money.</span>
        </div>
        <div class="hidden md:block bg-zinc-800 text-zinc-50 rounded-sm text-xs px-1 py-0.5">
            DEAL
        </div>
        <div class="absolute -top-2.5 right-2 md:hidden bg-zinc-800 text-zinc-50 rounded-sm text-xs px-1 py-0.5">
            DEAL
        </div>
    </div>
</a>