---

---

<a 
    href="https://dub.sh/fmpl-discount-bt"
    target="_blank"
    class="relative flex border border-zinc-200 rounded-lg p-1 hover:border-blue-300 transition-colors">
    <div class="flex items-center justify-between w-full rounded bg-zinc-200 text-zinc-950 p-1 hover:bg-zinc-300 transition-colors">
        <div class="flex items-start md:items-center gap-1 p-1 text-sm text-zinc-950">
            <div class="w-6 h-6">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 256 256"><path d="M 81.646 62.156 L 174.354 62.156 L 174.354 108.51 L 128 108.51 Z M 81.646 108.51 L 128 108.51 L 174.354 154.864 L 81.646 154.864 Z M 81.646 154.864 L 128 154.864 L 128 201.218 Z" fill="currentColor"/></svg>
            </div>
            <span>Get <span class="font-bold">3 free months</span> on a Pro annual Framer subscription with the code <span class="font-bold">"partner25proyearly"</span></span>
        </div>
        <div class="hidden md:block bg-zinc-800 text-zinc-50 rounded-sm text-xs px-1 py-0.5">
            DEAL
        </div>
        <div class="absolute -top-2.5 right-2 md:hidden bg-zinc-800 text-zinc-50 rounded-sm text-xs px-1 py-0.5">
            DEAL
        </div>
    </div>
</a>