---

import { Image } from "astro:assets";
import frameshareBanner from "../assets/images/fs_screen.png";

---

<a 
    href="https://frameshare.social?ref=frameplugins"
    target="_blank"
    class="relative flex flex-col items-center md:flex-row gap-4 rounded-lg bg-zinc-950 bg-gradient-to-t from-[#E7F0FE]/100 to-[#E7F0FE]/0 border-zinc-200 overflow-hidden">
    <div
  class="absolute inset-0 h-full w-full bg-white bg-[linear-gradient(to_right,#80808010_1px,transparent_1px),linear-gradient(to_bottom,#80808010_1px,transparent_1px)] bg-[size:48px_48px] [mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_60%,transparent_100%)]"
></div>
    <div class="flex-1 flex flex-col gap-4 p-12 pb-0 md:p-12 md:pb-12">
        <h2 class="text-3xl font-bold text-zinc-50">FrameShare</h2>
        <p class="text-xl text-zinc-200">
            Add <span class="font-semibold text-zinc-50">Social Sharing</span> to Framer in no time with <span class="font-semibold text-zinc-50">FrameShare</span>.
        <div
            class="bg-zinc-50 text-zinc-950 font-medium text-sm leading-0 rounded-md w-fit py-2 px-4 cursor-pointer hover:opacity-80"
            >
            Get the plugin
        </div>
    </div>
    <div class="flex-1 relative">
        <Image src={frameshareBanner} alt="Banner FrameShare" class="w-full h-full object-cover" />
    </div>
</a>
