---

interface Props {
	title: string;
    link: string;
    target: string;
}

const { title, link, target } = Astro.props;

---

<a 
    href={link}
    title={title}
    target={target}
    class="w-fit inline-flex items-center justify-center bg-transparent border font-medium border-zinc-500 text-sm leading-0 rounded-md py-1 px-2 cursor-pointer hover:bg-transparent hover:text-zinc-950 hover:border-zinc-950"
    >
    + {title}
</a>