---

interface Props {
	cta: string;
    link: string;
    target: string;
}

const { cta, link, target } = Astro.props;

---

<a 
    href={link}
    title={cta}
    target={target}
    class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-slate-50 hover:bg-slate-500 hover:text-slate-950 px-2 py-1">{cta}
</a>