---
import ButtonSecondary from "./ButtonSecondary.astro";


---

<header class="w-full bg-blue-500 h-12 flex justify-between items-center">
    <div>
        <b>newsletter</b>supply
    </div>

    <ButtonSecondary
        cta="Submit"
        link="https://google.com"
        target="_blank"
    />
</header>