---

import ButtonSecondary from "./ButtonSecondary.astro";

const navLinks = [
    {label: "Tools", href: "/browse"},
    {label: "Categories", href: "/categories"},
    {label: "Terms", href: "/terms"},
]

---

<header class="w-full pb-4 flex justify-between items-center">
    <div>
        <a 
            href="/"
            title="Return to home page"
            class="text-2xl text-zinc-950 font-thin"
        >
            <span class="font-bold">newsletter</span>supply
        </a>
    </div>

    <nav class="flex gap-8 items-center">
        <ul class="flex gap-8 items-center">
            {navLinks.map(link => (
                <li class="list-none m-0">
                    <a 
                        href={link.href}
                        class="text-zinc-600 hover:text-zinc-950"
                    >
                        {link.label}
                    </a>
                </li>
            ))}
        </ul>
        <!-- <ButtonSecondary 
            title="Submit"
            link="/"
            target="_self"
        /> -->
    </nav>
</header>