---
import type { CollectionEntry } from 'astro:content'


type Props = {
    posts: CollectionEntry<"posts">
}

const { posts } = Astro.props
const { title, description } = posts.data


---

<div class='flex flex-col gap-2'>
    <div class='flex flex-col gap-1'>   
        <a href={`/blog/${posts.slug}`} class="hover:underline">
            <h2>{title}</h2>
        </a>
        <p>{description}</p>
    </div>
    <a href={`/blog/${posts.slug}`} class="underline">
        Read more
    </a>
</div>