---
import ButtonSecondary from "./ButtonSecondary.astro";

---

<div class="relative flex flex-col items-center gap-8 group overflow-hidden p-12 rounded-lg bg-zinc-800 w-full cursor-pointer">
    <span class="text-3xl md:text-5xl text-center text-zinc-50 font-bold leading-loose tracking-tight">Start your newsletter today!</span>
    <p class="text-zinc-100 text-lg text-center">Get 20% off your first 3 months when you launch your newsletter with Beehiiv!</p>
    <ButtonSecondary 
        title="Start writing!"
        link="https://beehiiv.com?via=88pixels"
        target="_blank"
    />
</div>