---


---

<div class="flex flex-col gap-4 group overflow-hidden p-6 rounded-lg bg-blue-500 border border-blue-200 w-full cursor-pointer hover:opacity-80">
    Start your newsletter with Beehiiv now!
</div>