---
import { Image } from "astro:assets";
import framerAdBanner from "../assets/images/framer_ad_square.png";
---

<a
  href="/framer"
  target="_blank"
  class="flex flex-col gap-4 group overflow-hidden rounded-lg w-full cursor-pointer hover:opacity-90"
>
  <Image
    src={framerAdBanner}
    alt="Get 20% off your first 3 months with Beehiiv"
  />
</a>
