---
import { Image } from "astro:assets";
import framerAdBanner from "../assets/images/framer_ad_square.png";
import beehiivAdBanner from "../assets/images/beehiiv_ad_square_discount.png";
import screenstudioAdBanner from "../assets/images/screenstudio_ad_square.png";

const ads = [
  {
    image: framerAdBanner,
    link: "/framer",
    alt: "The fastest site builder on the Internet. Try now!"
  },
  {
    image: beehiivAdBanner,
    link: "/beehiiv",
    alt: "Launch, grow and monetise your newsletter with Beehiiv. Get started for free now!"
  },
  {
    image: screenstudioAdBanner,
    link: "/screenstudio",
    alt: "Create stunning screen recordings in no time!"
  }
];

const selectedAd = ads[Math.floor(Math.random() * ads.length)];

---

<a
  href={selectedAd.link}
  target="_blank"
  class="flex flex-col gap-4 group overflow-hidden rounded-lg w-full cursor-pointer hover:opacity-90"
>
  <Image
    src={selectedAd.image}
    alt={selectedAd.alt}
  />
</a>
