---
import SignupForm from "./SignupForm.astro";




---

<div class="relative flex flex-col gap-4 group p-6 rounded-lg bg-gradient-to-r from-zinc-100 to-zinc-50 border border-zinc-200 w-full cursor-pointer">
    <h3>Get our monthly newsletter:</h3>
    <SignupForm action="/" buttonWidth="fill" />
</div>