---
import { Image } from "astro:assets";
import launchIcon from "../assets/icons/launch.svg";
import growIcon from "../assets/icons/grow.svg";
import monetiseIcon from "../assets/icons/monetise.svg";
import { Icon } from "astro-icon/components";

const { link, title, quantity } = Astro.props;
---

<a
  href={link}
  class="relative flex flex-col gap-6 group overflow-hidden p-8 rounded-lg bg-zinc-200 border border-zinc-200 w-full cursor-pointer hover:border-zinc-300 hover:bg-zinc-200/90"
>
  {title === "Launch" && <Icon name="lucide:rocket" class="h-8 w-8" />}
  {
    title === "Grow" && (
      <Icon name="lucide:chart-no-axes-combined" class="h-8 w-8" />
    )
  }
  {title === "Monetise" && <Icon name="lucide:piggy-bank" class="h-8 w-8" />}
  <div class="flex flex-col w-full">
    <h3 class="text-zinc-950 text-xl font-bold leading-8 capitalize">
      {title} Framer <span class="lowercase">plugins</span>
    </h3>
    <p class="text-zinc-600 text-sm leading-6 line-clamp-3">
      Discover <b>{quantity} {title.toLowerCase()} Framer plugins</b> to supercharge your websites.
    </p>
  </div>
</a>
