---

import '../styles/global.css';
import BaseLayout from './BaseLayout.astro';

const { title } = Astro.props


const makeTitle = `${title} | Newsletter Supply`
const description = "Newslettr Supply - All the tools you need to launch, grow and monetize your newsletter."

---

<BaseLayout
  title={title}
  description={description}>
  <main class="w-full flex flex-col gap-6 md:flex-row">
	  <slot />
  </main>
</BaseLayout>

